@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!DOCTYPE html>
<html>
<head>
<title>Saúde Dentária</title>
<style>
        /* Estilos CSS (opcional) */
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        nav {
            background-color: #333;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        nav li {
            float: left;
        }
        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav li a:hover {
            background-color: #4CAF50;
        }
        section {
            margin: 20px;
        }
</style>
</head>
<body>
<header>
<h1>Saúde Dentária</h1>
</header>
 
    <nav>
<ul>
<li><a href="#sobre">Sobre</a></li>
<li><a href="#dicas">Dicas</a></li>
<
